*{
    box-sizing: border-box;
}

.calculator{
    border: 2px solid black;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

input{
    padding: 1em;
    font-size: 23px;
    font-weight: bold;
    width: 100%;
}

table{
    text-align: center;
}
td{
    border: 4px solid white;
    background-color: black;
}

button{
    border: none;
    outline: none;
    box-shadow: 0 0 8px white;
    padding: 1.5em;
    border-radius: 50%;
    margin: 1em;
    font-size: 1rem;
}